@charset "UTF-8";

/*
em HTML é id em CSS é # (só pode um elemento)
em HTML é class em CSS é . (pode vários elemento)
não da nome para as classes diacordo com a forma e sim a função
pode se aplicar mais de uma class ao elemento
pode-se tambem colocar um id e uma class no mesmo elemetendo
*/

body{
    background-color: rgb(205, 255 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;

}

h2{
    color: rgb(73, 109, 71);
}

.basico{
    color: #3c805e;
}

.intermediario{
    color: #80793c;
}

.avançado{
    color: #803c3c;
}

.destaque{
    background-color: rgba(173, 173, 71, 0.664);
}